*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Euphemia', sans-serif;
    font-size: 20px;
}

a {
    text-decoration:rgb(216, 95, 14);
}

a:hover {
    text-decoration: none;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 18px;
}

.p-10px {
    padding: 10px;
}

.contenedor {
    padding: 80px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.current {
    border-bottom: 2px solid #20bf6b;
}

.boxLogo {
    height: 80px;
    display: flex;
    justify-content: center;

}

/*.boxLogo h1>small {
    color: #20bf6b;
}*/

.boxLogo h1 {
    font-size: 36px; /* Incrementa el tamaño de la letra */
    font-family: 'Playfair Display', serif; /* Ejemplo de una fuente más elegante */
    font-weight: bold;
    color: #20bf6b;

}

#subir {
    display: none;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.irArriba {
    display: block!important;
    padding: 15px;
    background: #20be6b;
    border: 2px solid #20bf6b;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 50px;
    right: 2%;
    z-index: 999;
    transition: all 0.3s ease 0s!important;
    transform: translateX(0);
    animation: animacionScrollTo 0.7s ease-out;
    opacity: 1!important;
}

.irArriba:hover {
    background: transparent;
    border: 2px solid #20bf6b;
    transition: all 0.3s ease 0s;
    color: #20bf6b;
    padding: 15px;
}

@keyframes animacionScrollTo {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}


/* ESTILOS HEADER */

header {
    height: auto;
    width: 100%;
    position: relative;
    background-color: #aae25c;
    padding-top: 10px;
}

.boxHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 630px;
    color: #ffffff;
    overflow: hidden;
}

.boxHeader .textosHeader {
    width: 50%;
    position: relative;
    left: 8%;
    transform: translateY(0);
    opacity: 1;
    animation: animacion2 1s ease-out;
}

.boxHeader .textosHeader h1 {
    font-size: 70px;
    width: 85%;
}

.boxHeader .textosHeader p {
    width: 65%;
    color: #756f6f;
    font-size: 20px;
}

a.botonGetStarted {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding: 8px 20px;
    background-color: #20bf6b;
    border-radius: 35px;
    border: 2px solid #20bf6b;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
}

a.botonGetStarted:hover {
    color: #20bf6b !important;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
    transform: translateY(-6px);
}

.boxHeader .imgHeader {
    right: -5%;
    position: relative;
}

.imgHeader img {
    width: 80%;
    transform: translateX(0);
    opacity: 1;
    animation: animacion1 1s ease-out;
}
.imgBody {
    flex: 1; /* Imagen ocupa un espacio proporcional */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
}

.imgBody img {
    border-radius: 50%; /* Hace que la imagen sea circular */
    width: 300px; /* Tamaño de la imagen */
    height: 300px;
    object-fit: cover; /* Evita que la imagen se deforme */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
}

@keyframes animacion4 {
    0%
    {
        transform: translateX(50%);
         
        opacity: 0;
    }
    
}

@keyframes animacion1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes animacion2 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
}


/* ESTILOS NAVBAR */

.navbar {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente el contenido dentro de la barra */
    align-items: center; /* Alinea verticalmente los elementos */
    background-color: #f5f5f5; /* Fondo claro para la barra */
    padding: 10px 0; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.navbar-nav {
    display: flex; /* Pone los elementos en fila */
    gap: 20px; /* Espaciado entre los enlaces */
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina margen */
    padding: 0; /* Elimina padding */
}

.nav-item {
    text-align: center; /* Asegura que los enlaces estén centrados */
}

.nav-link {
    text-decoration: none; /* Elimina el subrayado */
    color: #333; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    padding: 10px 15px; /* Espaciado interno para los enlaces */
    transition: color 0.3s ease; /* Animación suave */
}

.nav-link:hover {
    color: #20bf6b; /* Cambia el color al pasar el ratón */
}

.navbar-brand {
    position: absolute; /* Mantén el logo separado del menú */
    left: 10px; /* Asegura que esté alineado a la izquierda */
}


.navbar-brand small {
    color: #20bf6b;
}

.nav-link:hover {
    border-bottom: 2px solid #20bf6b;
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-toggler {
    color: rgb(126, 126, 126);
}

.bg-light {
    background-color: #aae25c !important;
}


/* ESTILOS FEATURES */

.boxFeatures {
    padding: 50px;
    background-color: #ffffff;
    height: auto;
}

.features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 40px;
}

.cardFeatures {
    background: #ffffff;
    width: 30%;
    border-radius: 3px;
    padding: 1.25rem;
    transition: 0.4s;
    margin-bottom: 20px;
}

.cardFeatures span {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
}

.cardFeatures a {
    color: #c9c612;
}

.cardFeatures:hover {
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

.cardFeatures span {
    background: #46a32a;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.cardFeatures h4 {
    font-size: 14px;
    font-weight: bold;
}

.cardFeatures p {
    font-size: 12px;
    color: #575252;
}

/* Cambia el color de fondo al pasar el mouse */
.cardFeatures:hover {
    cursor: pointer;
    transform: scale(0.9, 0.9);
    background-color: #b6e696; /* Cambia el color aquí */
    color: #c9c612;
}

.cardFeatures:hover h4, .cardFeatures:hover p, .cardFeatures:hover a {
    color: #575252;
}

.cardFeatures:hover a {
    color: #c9c612; /* Cambia el color del enlace "Learn more" */
}

/* ESTILOS CALL TO ACTION  */

.boxCallToActions {

    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    min-height: 100vh; /* Altura completa de la pantalla */
    padding: 20px;
    background-color: #aae25c; /* Fondo verde */
    overflow: hidden; /* Evita que elementos se salgan */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho */
        

    /*padding-top: 0px;
    background-color: #aae25c;
    overflow: hidden;
    position: relative;
    height: 90vh;*/
}

.callToActions {
    display: flex; /* Activa Flexbox */
    flex-direction: row; /* Coloca la imagen y el contenido en fila */
    align-items: flex-start; /* Alinea al inicio verticalmente */
    justify-content: space-between; /* Añade espacio entre columnas */
    gap: 50px; /* Espaciado entre imagen y contenido */
    width: 100%; /* Ocupa todo el ancho */
    max-width: 1200px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno */
}

.imgCallToActions {
    width: 45%; /* Ajuste para la imagen */
    display: flex;
    justify-content: center;
}

.imgCallToActions img {
    width: 100%;
    max-width: 400px; /* Tamaño máximo de la imagen */
    vertical-align: top;
}

.contenido {
    flex: 2; /* El contenido ocupa más espacio que la imagen */
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Limita el ancho del contenido */
    padding: 20px;
    background-color: rgba(223, 224, 147, 0.9); /* Fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(79, 158, 5, 0.5); /* Sombra suave */
    text-align: justify; /* Alinea el texto a la izquierda */
}

.contenido h3 {
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #2a5d23;
    margin-bottom: 15px;
}

.contenido h3::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #20bf6b;
    margin: auto;
    border-radius: 5px;
}

.contenido p {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
}

.contenido ul {
    padding-left: 10px; /* Desplaza el contenido de la lista */
    margin-top: 10px;
}

.contenido ul li {
    margin-bottom: 10px;
    color: #2a5d23;
}


.callToActions .contenido ul li {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    margin-bottom: 12px;
    color: #584646;
    font-size: 18px;
}

.boxCardCallToActions {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centra el texto */
    width: 30%; /* Asegura que ocupe todo el ancho de la columna */
    padding-bottom: auto;
    margin-top: 20%;   
}

/* Animación de la tarjeta */
.boxCardAnimated {
    transform: translateX(0);
    animation: animacion3 0.9s ease-out;
    position: absolute;
    opacity: 5;
}

@keyframes move-in {
    0% {
        transform: translateY(100px); /* Comienza desde abajo */
        opacity: 0; /* Empieza invisible */
    }
    100% {
        transform: translateY(0); /* Llega a su posición final */
        opacity: 1; /* Termina visible */
    }
}

/* Inicialmente, los elementos están ocultos y desplazados hacia abajo */
.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease-out; /* Suaviza la transición */
}

/* Cuando el elemento es visible, aplica la animación */
.visible {
    opacity: 1;
    transform: translateY(0);
    animation: move-in 0.8s ease-out;
}


@keyframes animacion3 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.boxCardCallToActions img {
    border-radius: 50%;
    width: 50px;
}

.cardCallToActions .boxProfesional {
    display: flex; /* Elementos en fila */
    align-items: center; /* Alinea verticalmente */
    gap: 15px; /* Espaciado entre la imagen y los datos */
}

.boxProfesional .imgProfesional {
    flex-shrink: 0; /* Evita que la imagen se reduzca */
    width: 50px; /* Tamaño fijo de la imagen */
    height: 50px;
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Evita deformaciones */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.boxProfesional .datosProfesional h5 {
    font-size: 14px; /* Tamaño del nombre */
    font-weight: bold;
    margin: 0;
}

.boxProfesional .datosProfesional h6 {
    font-size: 12px; /* Tamaño del rol */
    margin: 0;
    color: #666;
}

.cardCallToActions p {
    font-style: italic; /* Texto en cursiva */
    font-size: 16px; /* Ajuste del tamaño del texto */
    margin-top: 10px;
    line-height: 1.5; /* Mejora la legibilidad */
}


/* ESTILOS ABOUT */

.boxAbout {
    padding: 50px;
    background-color: #f6f6f6;
    height: 100vh;
}

.about {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.imgAbout {
    width: 45%;
    -webkit-box-shadow: 1px 9px 15px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 9px 15px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 9px 15px -8px rgba(0, 0, 0, 0.75);
}

.imgAbout img {
    width: 100%;
    vertical-align: top;
}

.contenidoAbout {
    width: 55%;
    padding-left: 12%;
}

.contenidoAbout h3 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.contenidoAbout p {
    margin-bottom: 10px;
    width: 80%;
    color: #9c9c9c;
}


/* ESTILOS SLIDER */

.boxSlider {
    overflow: hidden;
    padding: 50px;
    height: 80vh;
}

.centerSlider {
    display: flex;
    align-items: center;
    height: 50vh;
}

.sliderText {
    width: 60%;
    margin: 15px auto;
    font-style: italic;
    color: #9c9c9c;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    text-indent: 0px;
    background-clip: padding-box;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 50px;
}

.carousel-indicators li {
    background-color: #20bf6b;
}

.carousel-item {
    background-color: white;
}

.carousel-item img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}


/* ESTILOS CONTACTO */

.boxContacto {
    padding: 50px;
    background-color: #f6f6f6;
    height: 100%;
}

.contacto {
    background: white;
    padding: 50px 40px;
    width: 42%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.botonEnviarMensaje {
    display: inline-block;
    width: 152px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding: 8px 20px;
    background-color: #20bf6b;
    border-radius: 35px;
    border: 2px solid #20bf6b;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;
}

.botonEnviarMensaje:hover {
    color: #20bf6b !important;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
    transform: translateY(-6px);
}

.form-control {
    font-size: 14px;
}


/*  ESTILOS FOOTER*/

.footer {
    background: white;
    padding: 25px;
}

.boxTextFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxTextFooter p {
    margin-bottom: 0;
    color: #666666;
}

.boxTextFooter p a {
    color: #666666;
}

.boxTextFooter p a:hover {
    color: #20be6b;
    transition: 0.4s;
}

.boxTextFooter span {
    color: #20be6b;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    .boxCallToActions {
        flex-direction: column; /* Cambia a diseño en columna */
        gap: 10px; /* Reduce el espacio entre los elementos */
    }

    .imgBody img {
        width: 200px; /* Reduce el tamaño de la imagen */
        height: 200px;
    }

    .contenido {
        max-width: 100%; /* Permite que el contenido ocupe todo el ancho */
        text-align: center; /* Centra el texto */
    }

    .contenido h3 {
        font-size: 24px; /* Reduce el tamaño del título */
    }

    .contenido p, .contenido ul li {
        font-size: 14px; /* Reduce el tamaño del texto */
    }

    .boxCardCallToActions {
        width: 90%; /* Reduce el ancho en pantallas medianas */
        padding: 15px; /* Reduce el espaciado interno */
        margin: 30px auto; /* Ajusta el margen superior e inferior */
    }

    .boxProfesional {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
    }

    .boxProfesional .imgProfesional {
        width: 40px; /* Reduce el tamaño de la imagen */
        height: 40px;
        margin-bottom: 10px; /* Añade espacio debajo de la imagen */
    }

    .cardCallToActions p {
        font-size: 14px; /* Reduce el tamaño del texto */
    }
}

@media (max-width: 480px) {
    .boxCardCallToActions {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        padding: 10px; /* Reduce aún más el espaciado interno */
    }

    .boxProfesional .imgProfesional {
        width: 35px; /* Imagen aún más pequeña */
        height: 35px;
    }

    .cardCallToActions p {
        font-size: 13px; /* Texto más pequeño */
        line-height: 1.4;
    }
}

@media screen and (max-width:800px) {
    .boxLogo {
        display: none;
    }
    /* ESTILOS NAVBAR */
    .navbar-brand {
        display: block;
    }
    .nav-link:hover {
        border-bottom: none;
    }
    .nav-item {
        text-align: center;
    }
    .current {
        border-bottom: 2px solid #f5f5f5;
    }
    /* ESTILOS HEADER */
    header {
        height: auto;
    }
    .boxHeader {
        flex-wrap: wrap;
        height: 400px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .boxHeader .textosHeader {
        width: 90%;
        margin-bottom: 100px;
        text-align: left;
        left: 0;
        margin: 0 auto;
    }
    .boxHeader h1 {
        font-size: 40px;
    }
    .boxHeader .textosHeader h1 {
        width: 100%;
    }
    .boxHeader .textosHeader p {
        width: 100%;
        margin: 0 auto;
        text-align: left;
    }
    .boxHeader .imgHeader {
        width: 100%;
        top: -40px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgHeader img {
        width: 95%;
    }
    /* ESTILOS FEATURES */
    .boxFeatures {
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .features {
        width: 90%;
    }
    .cardFeatures {
        width: 100%;
        margin-bottom: 1rem;
    }
    /* ESTILOS CALL TO ACTIONS */
    .boxCallToActions {
        height: auto;
    }
    .imgCallToActions {
        width: 100%;
    }
    .contenido {
        width: 80%;
        padding-left: 10px;
    }
    .contenido h3 {
        text-align: center;
    }
    .contenido p {
        width: 100%;
        text-align: center;
    }
    .contenido ul {
        padding-left: 0;
        list-style: none;
    }
    .boxCardAnimated {
        position: relative;
        right: 0vh;
        transform: none;
        animation: none;
    }
    .boxCardCallToActions {
        width: 100%;
        margin-top: 42px;
    }
    /* ESTILOS ABOUT */
    .boxAbout {
        height: 100%;
    }
    .about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .imgAbout {
        width: 100%;
    }
    .contenidoAbout {
        width: 100%;
        padding-left: 0;
        text-align: center;
        margin-top: 40px;
    }
    .contenidoAbout h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .contenidoAbout p {
        width: 100%;
        text-align: center;
    }
    /* ESTILOS TESTIMONIAL */
    .boxSlider {
        height: 100%;
    }
    /* ESTILOS CONTACTO */
    .contacto {
        background: white;
        width: 90%;
        margin: 30px auto 0 auto;
    }
    /* ESTILOS FOOTER */
    .boxContacto {
        height: 100%;
    }
    
}

@media screen and (max-width:400px) {
    .boxLogo {
        display: none;
    }
    .current {
        border-bottom: 2px solid #f5f5f5;
    }
    h3 {
        font-size: 25px;
    }
    /* ESTILOS NAVBAR */
    .navbar {
        display: flex;               /* Usa flexbox para la barra de navegación */
        justify-content: center;     /* Centra el contenido horizontalmente */
        align-items: center;         /* Alinea los elementos verticalmente */
    }

    .navbar-brand {
        display: block;
    }

    .nav-link:hover {
        border-bottom: none;
    }

    .nav-item {
        text-align: center;
        margin: 0 15px;             /* Espaciado entre los elementos del menú */
    }
    /* ESTILOS HEADER */
    .boxHeader {
        height: 100px;
    }
    .boxHeader .textosHeader {
        width: 100%;
    }
    .boxHeader h1 {
        font-size: 25px;
    }
    .boxHeader h2 {
        font-size: 20px;
        font-weight: 100;
    }
    /* ESTILOS FEATURES */
    .features {
        width: 100%;
    }
    /* ESTILOS CALL TO ACTIONS */
    .boxCallToActions {
        height: auto;
    }
    .boxCardAnimated {
        position: relative;
        right: 0vh;
        transform: none;
        animation: none;
    }
    /* ESTILOS ABOUT */
    .about {
        width: 100%;
    }
    /* ESTILOS CONTACTO */
    .boxContacto {
        padding: 50px 30px;
    }
    .contacto {
        width: 100%;
        margin: 0;
    }
    /* ESTILOS FOOTER */
    footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
}